{% extends 'layouts/base.html' %}

{% block content %}
<h1>Nico Duque: fotos guais</h1>
<div class="about">
    <img src="https://picsum.photos/id/237/200/300">
    <div class="about-content">
        <h3>Lorem ipsum dolor</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto provident iusto ipsa. Nemo, illum! Labore cum a soluta quam cumque nemo, dolorem obcaecati in excepturi, sunt non praesentium ipsa ducimus.</p>
        <p></p>
    </div>
</div>
{% endblock %}