{% load static %}
<footer>
    <img src="{% static 'static/img/log.png' %}" width="115">
    <ul>
        <li><a href="https://www.flaticon.es/iconos-gratis/camara-fotografica" title="cámara fotográfica iconos">Flaticon</a></li>
        <li><a href="https://www.flaticon.es/iconos-gratis/camara-fotografica" title="cámara fotográfica iconos">Flaticon</a></li>
        <li><a href="https://www.flaticon.es/iconos-gratis/camara-fotografica" title="cámara fotográfica iconos">Flaticon</a></li>
    </ul>
    <ul>
        <li><a href="{% url 'index' %}">Inicio</a></li>
        <li><a href="{% url 'portfolio' %}">Portfolio</a></li>
        <li><a href="https://instagram.com">Insta</a></li>
    </ul>
    <ul>
        <li><a href="https://www.flaticon.es/iconos-gratis/camara-fotografica" title="cámara fotográfica iconos">Flaticon</a></li>
        <li><a href="https://www.flaticon.es/iconos-gratis/camara-fotografica" title="cámara fotográfica iconos">Flaticon</a></li>
        <li><a href="https://www.flaticon.es/iconos-gratis/camara-fotografica" title="cámara fotográfica iconos">Flaticon</a></li>
    </ul>
    <!-- <a href="https://www.flaticon.es/iconos-gratis/camara-fotografica" title="cámara fotográfica iconos">Cámara fotográfica iconos creados por Kiranshastry - Flaticon</a> -->
</footer>