{% extends 'layout/base.html' %}

{% block 'title' %} Taeas {{ todo.title }} {% endblock %}

{% block 'content' %}

<span class="aux-btns">
    <a href="{% url 'todo' %}">Regresar</a>
    <a href="#">Añadir</a>
</span>

<ul class="list">
    <li><b>Titulo</b>{{ todo.title }}</li>
    <li><b>Descipcion</b>{{ todo.description }}</li>
    <li><b>Fecha creacion</b>{{ todo.date }}</li>
    <li><b>Fecha finalizacion</b>{{ todo.estimade_end }}</li>
    <li><b>La prioridaaaa</b>{{ todo.priority }}</li>
</ul>
{% endblock %}
